#openLoginModal {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.modal.active {
    display: flex; /* Show when active */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more responsive */
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    position: relative;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
    width: calc(100% - 20px); /* Adjust for padding */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.modal-content button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
}

.modal-content button[type="submit"]:hover {
    background-color: #218838;
}

.password.alert {
    display: none;
}

.password.alert.active {
    display: block;
}

.login-success{
    display: none;
}

.login-success.active{
    display: block;
}

.hidden {
    display: none !important;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-dismissable, .alert-dismissible {
    padding-right: 35px;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-dismissable .close, .alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -9px;
    color: inherit;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.signup-success {
    display: none;
}

.signup-success.active {
    display: block;
}

.signup-error {
    display: none;
}

.signup-error.active {
    display: block;
}

.main {
    position: relative;
    height: 100%;
}

.stick-to-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 20px;
    box-sizing: border-box;
    background: #fcfdf9;
}

.main-search .container {
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    position: relative;
}

.search-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
    overflow-y: auto;
    padding-bottom: 100px;
}

.hide {
    display: none;
}

.navbar, nav.navbar-2.navbar-desktop2 {
    z-index: 1;
}

.response_text {
    text-decoration: none;
    color: #686263;
    font-weight: 500;
    font-size: 20px;
}

.ai-message {
    align-self: flex-start;
    background-color: #e5efee;
    color: #13343b;
    padding: 10px 15px;
    border-radius: 15px 15px 15px 0;
    max-width: 80%;
    word-wrap: break-word;
    text-align: left;
}

.user-message {
    align-self: flex-end;
    background-color: #21808d;
    color: #fcfcf9;
    padding: 10px 15px;
    border-radius: 15px 15px 0 15px;
    max-width: 80%;
    word-wrap: break-word;
    text-align: left;
}

.search-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    padding-bottom: 150px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

html, body {
    height: 100%;
}

.page-container {
    max-width: 1200px;
    /* margin: 0 auto; */
    text-align: left;
    /* padding: 20px; */
}

.full-width-row {
    width: 100%;
    display: table;
    padding-bottom: 30px;
    border-spacing: 10px;
    box-sizing: border-box;
    /* overflow-x: auto; 
    overflow-y: hidden;
    white-space: nowrap; 
    -webkit-overflow-scrolling: touch;

    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px; */
    
    /* padding: 30px; */
    /* background-color: #e0e9f0; */
    /* border-radius: 10px;
    box-sizing: border-box; */
}

.box-item {
    flex: 0 0 auto;
    min-width: 80px;
    width: 180px;
    height: 60px;
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* border-radius: 10px; */
    box-sizing: border-box;
    display: table-cell;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    white-space: normal;
    background: oklch(96.3% 0.007 106.523 / 1);
}

.box-item a {
    font-size: 0.85em;
    color: #007bff;
    text-decoration: none;

    display: block;
    max-width: 100%;
    width: 100%;
    text-align: left;
}

.box-item a span {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    max-width: 100%;
    width: 100%;
    text-align: left;
}

.box-item a:hover {
    text-decoration: underline;
}

h1.search-heading {
    font-size: 1.875rem;
    line-height: 2.25rem;
    text-align: left;
    display: inline-block;
}

.message-window {
    text-align: left;
}

.message-window p {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    text-wrap: pretty;
    overflow-wrap: break-word;
}

.message-window h2 {
    text-align: left;
    margin-top: 1.5rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 500;
    margin-bottom: .5rem;
    color: var(--tw-prose-headings);
}

* {
    font-family: var(--font-fk-grotesk-neue), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica Neue, Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    color: #686263;
}

.loader-hidden {
    display: none;
}

.loader-visible {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    margin-right: 8px;
    vertical-align: middle;
    background-image: url('./../images/tube-spinner.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 16px;
}

.loader-css {
    border: 3px solid #f3f3f3;
    border-top: 3px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.main-carrie-sec .row {
    background-color: #fcfcf9;
}

* {
    text-align: left;
}

.main-logo-div {
    text-align: center;
}